[Unit]
Description=Ubuntu Rotate Screen Script (gnome-randr)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
ExecStart=/home/admin/dataczar/venv/bin/python3 /home/admin/dataczar/gnome-randr.py
WorkingDirectory=/home/admin/dataczar

[Install]
WantedBy=multi-user.target